name: MATLAB CI

on:
  push:
  pull_request:

jobs:
  MATLAB_1_quickMox_BatchExamplePart1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (quickMox + BatchExamplePart1)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/MoxUnitCompatible/quickMoxTests';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_quickMoxTests.json']);
            testDir = '/Test/MoxUnitCompatible';
            res2 = moxunit_runtests([qmrlabRoot testDir '/BatchExample_test.m'],'-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_BatchExample_test.json']);
            exit(~all([res1 res2]));

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: |
            ${{ github.workspace }}/Test/MoxUnitCompatible/quickMoxTests/coverage_quickMoxTests.json
            ${{ github.workspace }}/Test/MoxUnitCompatible/coverage_BatchExample_test.json
          flags: matlab
          fail_ci_if_error: false


  MATLAB_2_BatchExamplePart2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (BatchExamplePart2)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/MoxUnitCompatible/BatchExamplePart2';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_BatchExamplePart2.json']);
            exit(~res1);

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ github.workspace }}/Test/MoxUnitCompatible/BatchExamplePart2/coverage_BatchExamplePart2.json
          flags: matlab
          fail_ci_if_error: false


  MATLAB_3_SimTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox        
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (simTests)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/MoxUnitCompatible/simTests';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_simTests.json']);
            exit(~res1);

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ github.workspace }}/Test/MoxUnitCompatible/simTests/coverage_simTests.json
          flags: matlab
          fail_ci_if_error: false
  name: MATLAB CI

on:
  push:
  pull_request:

jobs:
  MATLAB_1_quickMox_BatchExamplePart1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (quickMox + BatchExamplePart1)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/MoxUnitCompatible/quickMoxTests';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_quickMoxTests.json']);
            testDir = '/Test/MoxUnitCompatible';
            res2 = moxunit_runtests([qmrlabRoot testDir '/BatchExample_test.m'],'-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_BatchExample_test.json']);
            exit(~all([res1 res2]));

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: |
            ${{ github.workspace }}/Test/MoxUnitCompatible/quickMoxTests/coverage_quickMoxTests.json
            ${{ github.workspace }}/Test/MoxUnitCompatible/coverage_BatchExample_test.json
          flags: matlab
          fail_ci_if_error: false


  MATLAB_2_BatchExamplePart2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (BatchExamplePart2)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/MoxUnitCompatible/BatchExamplePart2';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_BatchExamplePart2.json']);
            exit(~res1);

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ github.workspace }}/Test/MoxUnitCompatible/BatchExamplePart2/coverage_BatchExamplePart2.json
          flags: matlab
          fail_ci_if_error: false


  MATLAB_3_SimTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox        
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (simTests)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/MoxUnitCompatible/simTests';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_simTests.json']);
            exit(~res1);

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ github.workspace }}/Test/MoxUnitCompatible/simTests/coverage_simTests.json
          flags: matlab
          fail_ci_if_error: false
  MATLAB_4_OtherTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (other)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/MoxUnitCompatible/other';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_other.json']);
            exit(~res1);

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ github.workspace }}/Test/MoxUnitCompatible/other/coverage_other.json
          flags: matlab
          fail_ci_if_error: false

  MATLAB_5_EquationTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (equation)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/MoxUnitCompatible/equation_test';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_equation.json']);
            exit(~res1);

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ github.workspace }}/Test/MoxUnitCompatible/equation_test/coverage_equation.json
          flags: matlab
          fail_ci_if_error: false

  MATLAB_6_CommonTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (Common)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/Common';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_common.json']);
            exit(~res1);

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ github.workspace }}/Test/Common/coverage_common.json
          flags: matlab
          fail_ci_if_error: false

  MATLAB_7_ModelsTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (Models)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/Models';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_models.json']);
            exit(~res1);

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ github.workspace }}/Test/Models/coverage_models.json
          flags: matlab
          fail_ci_if_error: false

  MATLAB_8_ModelsFunctionsTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (Models_Functions)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/Models_Functions';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_models_functions.json']);
            exit(~res1);

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ github.workspace }}/Test/Models_Functions/coverage_models_functions.json
          flags: matlab
          fail_ci_if_error: false

  MATLAB_9_UnitTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Image_Processing_Toolbox
            Optimization_Toolbox
            Statistics_and_Machine_Learning_Toolbox

      - name: Run MATLAB tests (UnitTests)
        uses: matlab-actions/run-command@v2
        with:
          command: |
            startup;
            qMRLabVer;
            qmrlabRoot = getenv('GITHUB_WORKSPACE');
            testDir = '/Test/UnitTests';
            res1 = moxunit_runtests([qmrlabRoot testDir],'-recursive','-with_coverage','-cover',[qmrlabRoot '/src'],'-cover_exclude','*GUI*','-cover_json_file',[qmrlabRoot testDir '/coverage_unit.json']);
            exit(~res1);

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ github.workspace }}/Test/UnitTests/coverage_unit.json
          flags: matlab
          fail_ci_if_error: false

      - name: Upload mismatch artifacts
        uses: actions/upload-artifact@v4
        with:
          name: upload-miscmatch-txts
          path: mismatchOM